/** @format */

html {
  background-color: rgb(236, 236, 236);
}
@media only screen and (max-width: 1000px) {
  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    width: 100vw;
    height: 50%;
    overflow: visible;
    justify-content: space-between;
  }.App {
    
    margin: 10px auto ;
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow: clip;
    align-items: center;

    justify-content: space-between;
  }
}
@media only screen and (min-width: 1001px) {
  .App {
    height: 100vh;
    margin: 30px 20px;
    display: flex;
    width: 100%;
    align-items: flex-start;

    justify-content: space-evenly;
  }
  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    position: sticky;
    top: 0;

    height: 100%;
    justify-content: space-between;
  }
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
